/* 99% of the style will be included here */
body {
    background-color: #00ffff;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: white;
}

h3 {
    color: rgb(255,255,254);
}
/* nav bar done with the help of https://www.w3schools.com/howto/howto_js_topnav.asp */
nav{
    background-color: gray;
}
#navbar {
    overflow: hidden;
    background-color: gray;
}

img {
    border-style:double;
    border-color:black;
    border-radius:30%;
}


p {
    color: black;
    text-align:start;
}

em {
    text-decoration: underline dotted red;
}

strong {
    text-decoration: red underline overline;
}