/* 99% of the style will be included here */


body {
    background-color: #00ffff;
    
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: white;
}

h3 {
    color: rgb(255,255,254);
}

img {
    border-style:ridge;
    border-color:black;
    border-width:0.5em;
    border-radius:30%;
    height: 60vh;
    width: 20vw;
    max-height: 200px;
    max-width: 5cm;
    min-width: 3cm;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right:0.4em;
    margin: 10px 10px 10px 10px;
    position:static;
}

video {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 10px;
}

audio {
    position: relative;
    top: 20px; left: 40px;
}

p {
    color: black;
    text-align:start;
    font-size: 14pt;
}

h3 ~ b {
    color:red;
}

h3 + p {
    color:tomato;
}
em {
    text-decoration: underline dotted red;
}

.strongdiv {
    text-decoration: red underline overline;
    display:block;
    text-align: center;
    padding: 2em 0;
}

/* nav bar done with the help of https://www.w3schools.com/howto/howto_js_topnav.asp */
.navBarTop {
    display: flex;
    background-color: grey;
    max-width:100%;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;    
}

.navBarTop a {
    float: left;
    color:hsl(0,0%,100%);
    text-align: center;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    font-size: 1.1em;
    
}

.navBarTop a:hover {
    background-color: black;
}

.navBarTop a:visited {
    color:hotpink;
}

section h2 {
    text-decoration: underline white;
}

div.attendance{
    background-color: tomato;
}
span > em{
    display:block;
}

.small-screen {
    display:none;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

/*auto auto auto idea based on https://www.w3schools.com/css/css_grid.aspv*/
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap:70px;
    justify-items: start;
}
.grid-item1 {
    grid-column-start:1;
    grid-column-end:3;
}


/*.grid-container p{
    display: inline;
}*/

@media screen and (max-width: 1205px) {
    .big-screen{
        display:none;
    }
    
    .small-screen{
        display:inline;
    }
  }