/* 99% of the style will be included here */
body {
    background-color: #00ffff;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: white;
}

h3 {
    color: rgb(255,255,254);
}
/* nav bar done with the help of https://www.w3schools.com/howto/howto_js_topnav.asp */

.navBarTop {
    display: flex;
    background-color: grey;
    width:100%;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
}

.navBarTop a {
    float: left;
    color:hsl(0,0%,100%);
    text-align: right;
    padding: 1em 2em 1em 2em;
    
}
nav{
    background-color: gray;
}

img {
    border-style:double;
    border-color:black;
    border-radius:30%;
}


p {
    color: black;
    text-align:start;
}

em {
    text-decoration: underline dotted red;
}

strong {
    text-decoration: red underline overline;
}